body {
  margin: 0;
  padding: 0;
  background: green;
}

.jpg-container {
  max-width: 240px;
  height: 200px;
  margin: 0 auto;
  background: url(cat.jpg) no-repeat;
  background-size: cover;
}

img {
  display: block;
}

img.appended {
  border: 1px solid greenyellow;
}